:root{

    --background_grey: #F6F6F6;
    --background_white: #FFFFFF;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-size: 100%;
  }


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

input, button, textarea, select {
    font: inherit;
 }


  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    margin: 0;
  }